<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="com.toluhta.immersify"
version="0.1.0">

    <name>Immersify</name>
    <description>Plugin to enable Immersive (full screen) mode on Android Kitkat</description>
    <keywords>Immersive mode,Sticky immersive mode,full screen</keywords>
    <author>toluhta @ Github/Twitter</author>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.3.0"/>
    </engines>

    <js-module src="www/ImmersiveModePlugin.js" name="Immersify">
        <clobbers target="Immersify" />
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Immersify">
                <param name="android-package" value="com.toluhta.immersify.ImmersiveMode"/>
            </feature>
        </config-file>
        <source-file src="src/android/ImmersiveMode.java" target-dir="src/com/toluhta/immersify" /> 
    </platform>
</plugin>
